/* HEADER AREA */
.bg-black{
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);}
/* HEADER AREA */

                            /* ////////////////////////////// */

/* MAIN BANNER  */
.image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../img/fouzia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
  }
  
  .image-aboutus-sm-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../img/fouzia.jpg");
    background-repeat: no-repeat;
    background-size: right;
    background-position: right bottom;
    color: #fff;
  }
  /* MAIN BANNER  */

                          /* ////////////////////////////// */

  /* A propos */
  .lg-text {
    font-family: "Crimson Text", Georgia;
    font-size:43px;
    font-weight: 600;
    text-transform: none;
    color:#FAF0E6;
  }
  
.image-aboutus-para {
    color:	#D5AD6D; 
      background: -webkit-linear-gradient(transparent, transparent),
                 -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
      background: -o-linear-gradient(transparent, transparent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;    
  
    font-size:23px;
  }

.paddingTB60 {
  padding-top:60px;
  padding-bottom:60px;
}
.paddingTB60 {
  padding-top:60px;
  padding-bottom:60px;
  font-family: "Crimson Text", Georgia;
}
.paddingTB60 h4{
  font-family: "Crimson Text", Georgia;     

}
.bgcolor-skyblue {
  background:url(../img/paper-background.png) no-repeat center center fixed; 
  background-size: cover;
}

.col-md-3,.col-md-4 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 2%;
}

/* Buttons */
.site-btn {
  font-size: 14px;
  padding: 13px 30px;
  border-radius: 5px;
  border: 1px solid black;
  min-width: 200px;
  text-align: center;
  position: relative;
  z-index: 1;
  background-color:#2d3436;
  transition: all .25s ease-in-out;
  margin: 10px 0px 30px 250px;
  
}
.btn{
  color: #FAF0E6;
}
.site-btn:hover {
  background: -webkit-linear-gradient(transparent, transparent),
  -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
background: -o-linear-gradient(transparent, transparent);
  border: 1px solid black;
  font-weight:700px;
  
}
  /* /A propos */


                    /* ////////////////////////////// */

/* Footer */
.footer {
  position: relative;
  background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); 
  color: #707070;
  padding: 55px 0 40px;
}

a {
  color: #707070;
  text-decoration: none;
}


/* Social Icons */

.social-icons{
  
  margin: 0;
  padding: 0;
  font-size : 10px;
}

.social {
  margin:7px 7px 7px 0px;
  color:#D5AD6D;
}
#social-in:hover {
  background: #8b2227;
  transition:all .25s;
}

#social-ln:hover {
  background: #007bb5;
  transition:all .25s;
}
#social-fb:hover {
   color: #3B5998;
   transition:all .25s;
}
#social-tw:hover {
   color: #4099FF;
   transition:all .25s;
}

#social-em:hover {
   color: #f39c12;
   transition:all .25s;
}
#social-gh:hover{
  color: #000000;
  transition: all .25s;
}
#social-gl:hover{
  background: #923304;
  transition: all .25s;  
}
.container h4{
  color: #D5AD6D;
}
/*/ Footer */