 .bg-black{
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);}


/* 1 partie */
.tete{
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgba(128,102,0);  
    background-size: cover;
    background-position: center;
    height: 970px;   
}


.DW{
   
    color: #FFFFF0;
    padding-top: 0%;
    padding-right: 0%;
    position: absolute;
    top: 20%;
    left: 30%;
}
.DW h1{
    font-size: 50px;
    line-height: 60px;   
    font-family: Roboto;
    color:	#D5AD6D; 
    background: -webkit-linear-gradient(transparent, transparent),
               -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.DW h2{
    font-size: 40px;
    line-height: 40px;
    font-family: 'Abril Fatface', cursive;
}
.button01 {
  
  font-size: 15px;
  letter-spacing: 0.5pt;
  padding: 10px 8px;
  border: solid 1px;
  border-top-color: rgba(0, 0, 0, 0.1);
  border-right-color: rgba(0, 0, 0, 0.3);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-left-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 1px 5px 1px rgb(0, 0, 0);
  transition: .1s linear;
}

  
.gold {
  color: #FFFFF0;;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 1);
  background-image: radial-gradient(300px at 50% -50%, rgb(229, 184, 99) 0%, rgb(220, 175, 93) 5%, rgb(139, 96, 42) 48%, rgb(103, 61, 19) 67%, rgb(165, 121, 58) 83%, rgb(199, 154, 80) 92%, rgb(222, 177, 95) 98%, rgb(227, 181, 97) 99%, rgb(231, 185, 100) 100%);
}
  .gold:hover {
    background-image: radial-gradient(300px at 50% -50%, rgb(247, 223, 146) 0%, rgb(240, 214, 138) 5%, rgb(178, 133, 65) 48%, rgb(151, 98, 33) 67%, rgb(196, 157, 85) 83%, rgb(222, 190, 114) 92%, rgb(239, 212, 134) 98%, rgb(242, 216, 137) 99%, rgb(245, 220, 141) 100%);
  }


 
    /* particles. */

@import url(https://fonts.googleapis.com/css?family=Teko:300,400,500,600);

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}



.tete{ 
	width:100%;
  height:100%;
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../img/BB.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


canvas{
	display:block;
	vertical-align:bottom;
}

#particles-js{
	width:100%;
	height:100%;
}

.nv{
  text-transform: none;
}

/* 2 partie */

.heading h2 {
    color: #03293c;
    margin-top: 0.5em;
    font-size: 2.5em;
    padding: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

.yellow-divider {
    width: 100px;
    height: 9px;
    background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
	background: -o-linear-gradient(transparent, transparent);
    margin: 0 auto 80px;
}
#zolo {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white
  }
  .card-body .card-text{     
margin: 0;
display: block;
border-radius: 8px;
position: relative;
padding: 30px 50px 65px 50px;
font-size: 0.9em;
font-weight: 500;
margin: 0 0 -40px;
line-height: 1.6em;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  }
  .card-deck {
    width: 80%;
    min-height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 2;
    margin-top: 30px;
    
  }
  .card-deck .card-body {
    height: 50vh;
    width: 52vh;
    min-height: 320px;
    background: #FAF0E6;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 2;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
  }
  .card-deck .card-body::before {
    content: '\201C';
    position: absolute;
    top: -20px;
    left: 5px;
    width: 100%;
    height: 100%;
    font-size: 120px;
    opacity: 0.2;
    background: transparent;
    pointer-events: none;
  }
  
  .card-deck .card-body::after {
    content: '\201D';
    position: absolute;
    bottom: -10%;
    right: 5%;
    font-size: 120px;
    opacity: 0.2;
    background: transparent;
    filter: invert(1);
    pointer-events: none;
  }
  .card-deck .card-body:hover {
    color: #f5f5f2;
    box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
  }
  
  .card-deck .card-body.box1:hover,
  .card-deck .card-body.box1:hover~.bg {
    opacity: 1;
   
    background-image: linear-gradient(to right bottom, #d5ad6d, #c79f60, #b99254, #ac8547, #9e783b, #936e34, #87652c, #7c5b25, #705220, #65491c, #594017, #4e3813);
  }
  
  .card-deck .card-body.box2:hover,
  .card-deck .card-body.box2:hover~.bg {
    opacity: 1;
    background-image: linear-gradient(to right bottom, #d5ad6d, #c79f60, #b99254, #ac8547, #9e783b, #936e34, #87652c, #7c5b25, #705220, #65491c, #594017, #4e3813);
  }
  
  .card-deck .card-body.box3:hover,
  .card-deck .card-body.box3:hover~.bg {
    opacity: 1;
   background-image: linear-gradient(to right bottom, #d5ad6d, #c79f60, #b99254, #ac8547, #9e783b, #936e34, #87652c, #7c5b25, #705220, #65491c, #594017, #4e3813);
  }
  .card .text-muted{
    font-family:  cursive ;
    font-size: 1rem;
    color:	#D5AD6D;
	
    background: -webkit-linear-gradient(transparent, transparent),
               -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


/* 3 partie */
.titre h2 {
    color: #03293c;
    margin-top: 0.5em;
    font-size: 2.5em;
    padding: 60px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-section {
    background-color: white;
    height: 90%;
  }
  
   .services-section hr {
    border-bottom: 2px solid rgb(248, 247, 244);
    width: 0px;
    margin: 0 auto;
  } 
  
  .services-section .services-detail {
      border-radius: 100%;
      background-color: #ffffff;
      box-shadow: 0px 1px 2px 0px rgba(145,112,59,1);
      position: relative;
      width: 200px;
      height: 200px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 30px;
  }
  
  .services-section .services-detail:hover {
      border-bottom-right-radius: 4px;
      box-shadow: 0px 16px 22px 0px rgba(145,112,59,1) ;
      top: -5px;
  }
  
  .services-section .services-detail i {
     font-size: 80px;
     margin-top: 60px;
     display: inline-block;
     vertical-align: middle;
  }
  .fa-html5{
      color:#ff6600;
      
  }
  .fa-css3-alt{
      color: #0033cc;
  }
  .fa-bootstrap{
  color:#6600cc;
  font-size: 10%;
  }
  .fa-js{
  color:#ffff00;
  }
  .fa-php{
    color:#7575a3;
  }
  .fa-database{
    color: #336699;
  }
/* 4 partie */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1204 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin-right: 100px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important; 
 
}

.titree h2 {
    color: #03293c;
    margin-top: 0.5em;
    font-size: 2.5em;
    padding: 60px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Temoignages .heading{
    margin-left: 37%;
}

figure.snip1204 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 
}
.snip1204{
  margin-bottom:1rem !important;
}
figure.snip1204 img {
  max-width: 100%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 5px;
  display: block;
  z-index: 1;
  position: absolute;
  right: 50%;
}
figure.snip1204 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background: -webkit-linear-gradient(transparent, transparent),
  -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
background: -o-linear-gradient(transparent, transparent);
  padding: 30px 50px 65px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 -40px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1204 blockquote:before,
figure.snip1204 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1204 blockquote:before {
  top: 35px;
  left: 20px;
}
figure.snip1204 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}
figure.snip1204 .author {
  margin: 0;
  height: 80px;
  display: block;
  text-align: left;
  color: #ffffff;
  padding: 0 35px;
  position: relative;
}
figure.snip1204 .author h5,
figure.snip1204 .author span {
  left: 50%;
  position: absolute;
  opacity: 0.8;
  padding: 3px 5px;
}
figure.snip1204 .author h5 {
  text-transform: uppercase;
  bottom: 50%;
  margin: 0;
  font-weight: 800;
  color: #000000;

}
.container-1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
    padding-bottom: 15%;
    padding-top: 5%;
    
}


/* footer */

.footer-section{
    padding-top: 3%;  
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); 
    padding-bottom: 3%;
  }

      .box-2 h5{
        color:#D5AD6D;
      }
      .social-icons{
  
        margin: 0;
        padding: 0;
        font-size : 10px;
      }
      
      .social {
        margin:7px 7px 7px 0px;
        color:#D5AD6D;
      }
      #social-in:hover {
        background: #8b2227;
        transition:all .25s;
      }
      
      #social-ln:hover {
        background: #007bb5;
        transition:all .25s;
      }
      #social-fb:hover {
         color: #3B5998;
         transition:all .25s;
      }
      #social-tw:hover {
         color: #4099FF;
         transition:all .25s;
      }
      
      #social-em:hover {
         color: #f39c12;
         transition:all .25s;
      }
      #social-gh:hover{
        color: #000000;
        transition: all .25s;
      }
      #social-gl:hover{
        background: #923304;
        transition: all .25s;
        
        }

  .foo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
  }
  .box-1{
    flex: 1;
    order: 1;
  }
  .box-1 {     
    margin: 0;
    border-radius: 8px;
    padding: 30px 50px 65px 50px;
    font-size: 1em;
    font-weight: 550;
    line-height: 1.6em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background: url(https://pngimage.net/wp-content/uploads/2018/05/ancient-paper-background-png.png) no-repeat center center fixed; 
    background-size: cover;
    margin-left: 5%;
        
      }
  .box-2{
    flex: 1;
    order: 2;
    margin-left: 20%
     
  }
  
  
  
  .footer-copyright{
    background: white;
  
    
  }




















@media(max-width: 600px) {
 
    .tete{
        height: 900px;
        padding: 200px;
       
    }
    .DW h2{
     
      font-size: 30px;
      line-height: 60px;   
      margin-left: -86px;
      
    }
    .DW h1{
       
      margin-left: -108px;
      
    }
  .DW img{
    width: 40%;
    height: 40%;
    margin-left: -86px;
  }
  .button01 {
    margin-left: -86px;
  }

}
@media(max-width: 960px) {
    .services-section .services-detail {
      width: 100px;
      height: 100px;
    }
      .services-section .services-detail i{
        font-size: 40px;
        margin-top: 30px;
      }
      .services-section .services-detail{
        font-size:12px; 
      }
    

  }
  @media(max-width: 580px) {
    .services-section .services-detail {
      width: 50px;
      height: 50px;
    }
      .services-section .services-detail i{
        font-size: 20px;
        margin-top: 15px;
      }
      .services-section .services-detail{
        font-size:8px; 
      }
  }
