/* HEADER AREA */
.bg-black{
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);}

  /* /HEADER AREA */


  /* /-- contact --/ */
  @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,900);
#contact{
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-form label {
    font-weight: 600;
    letter-spacing: 1px;
    color: #D5AD6D; 
}
.contact-form .form-control {
    padding: 0.8rem;
    border: 1px solid rgba(221, 221, 221, 0.13);
    border-radius: 0rem;
    letter-spacing: .5px;
    padding: 5px;
  	width: 342px;
    font-family: 'Lato', calibri, arial;
    font-style: oblique;
    font-size:20px;
    font-weight:350;
    color:#fff;
    background-color:transparent;
    background-color:transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #D5AD6D; 
    border-right: 1px solid transparent;
}
.contact-form textarea {
    overflow: auto;
    resize: vertical;
    height: 8em;
    background-color:transparent;
}
.contact-form button.btn.btn-default {
    color:	white;  
    background:transparent;
    border: 2px solid #D5AD6D;
    text-transform: capitalize;
    padding: 10px 25px;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 0rem;
    margin-left: 5em;
}
.paragraph{
  padding-top: 10%;
  font-family: 'Lato', calibri, arial;
  font-size:25px; 
   font-weight:100; 
   text-align:left;
  margin-left:-9px;
  color:#fff;
}
.container h3{
    font-size: 40px;
    line-height: 40px;
    font-family: 'Abril Fatface', cursive;
    color:	#D5AD6D; 
    background: -webkit-linear-gradient(transparent, transparent),
               -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    margin-left: 20%;
} 

/* /-- //contact --/ */


/* Footer */
.footer {
  position: relative;
  background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); 
  color: #707070;
  padding: 55px 0 40px;
}

a {
  color: #707070;
  text-decoration: none;
}


/* Social Icons */

.social-icons{
  
  margin: 0;
  padding: 0;
  font-size : 10px;
}

.social {
  margin:7px 7px 7px 0px;
  color:#D5AD6D;
}
#social-in:hover {
  background: #8b2227;
  transition:all .25s;
}

#social-ln:hover {
  background: #007bb5;
  transition:all .25s;
}
#social-fb:hover {
   color: #3B5998;
   transition:all .25s;
}
#social-tw:hover {
   color: #4099FF;
   transition:all .25s;
}

#social-em:hover {
   color: #f39c12;
   transition:all .25s;
}
#social-gh:hover{
  color: #000000;
  transition: all .25s;
}
#social-gl:hover{
  background: #923304;
  transition: all .25s;
  }
.container h4{
  color: #D5AD6D;
}
/* /Footer */